<!DOCTYPE html>
<html lang="en">
	<head>
		{# CHARSET AND VIEWPORT #}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<title>{{ UKMDesign.getHeader().getSeo().getTitle()|raw }}</title>
		<link rel="shortcut icon" href="//grafikk.ukm.no/favicon.ico" />
		{% if blog is defined %}
			<link rel="alternate" type="application/rss+xml" href="{{blog.feed}}" title="{{blog.name}} RSS-feed" />
		{% endif %}
		{% embed "UKMDesign/Layout/seo.html.twig"|UKMpath %}{% endembed %}

		{# STYLES #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">		<link href="//assets.{{ UKM_HOSTNAME }}/css/index{{ THEME is defined and THEME is not empty ? '-'~THEME }}.css?20210409-Merete" rel="stylesheet" />
		<link href="{{ UKMasset("swipebox/css/swipebox.css") }}" rel="stylesheet" />
		{% block css %}{% endblock %}
		
		{# SCRIPTS #}
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script src="//assets.{{ UKM_HOSTNAME }}/js/menu.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/accordion.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/switch.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/fylke.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/share.js" ></script>
		
		<script src="/wp-content/plugins/UKMresources/js/twig.js"></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/geolocation.js" ></script>

		{% if ajax_url is defined %}
		<script type="text/javascript">var ajaxurl = '{{ ajax_url }}';</script>
		{% endif %}
		<script type="text/javascript" src="{{ UKMasset("js/UKMresponsive.min.js") }}?20190930-Marte"></script>
		<script src="{{ UKMasset("swipebox/js/jquery.swipebox.js") }}"></script>
		{% block javascripts %}{% endblock %}
	

		<script>
		window.fbAsyncInit = function() {
			FB.init({
			appId            : '{{ UKMDesign.getHeader().getSeo().getFBAppId() }}',
			autoLogAppEvents : true,
			xfbml            : true,
			version          : 'v10.0'
			});
		};
		</script>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/nb_NO/sdk.js"></script>

		<script>
			var UKM_HOSTNAME = '{{ UKM_HOSTNAME }}';
            var blog_url = '{{ UKMDesign.getSiteUrl() }}/';
		</script>
	</head>
	
	<body>
		<div id="fb-root"></div>{# FACEBOOK #}
        {% block framework_content %}{% endblock %}
	</body>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46216680-1"></script>

	<script type="tex">
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-46216680-1');
	</script>
</html>