<!DOCTYPE html>
<html lang="en">
	<head>
		{# CHARSET AND VIEWPORT #}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<title>{{ UKMDesign.getHeader().getSeo().getTitle()|raw }}</title>
		<link rel="shortcut icon" href="//grafikk.ukm.no/favicon.ico" />
		{% if blog is defined %}
			<link rel="alternate" type="application/rss+xml" href="{{blog.feed}}" title="{{blog.name}} RSS-feed" />
		{% endif %}
		{% embed "UKMDesign/Layout/seo.html.twig"|UKMpath %}{% endembed %}

		{# STYLES #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		
		<link rel="stylesheet" href="//assets.{{ UKM_HOSTNAME }}/css/index.css?20210409-Merete" />
		<link rel="stylesheet" href="//assets.{{ UKM_HOSTNAME }}/vendor/swipebox/css/swipebox.css" />
		{% block css %}{% endblock %}
		
		{# SCRIPTS #}
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script src="//assets.{{ UKM_HOSTNAME }}/js/accordion.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/bilder.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/clicklinkwithin.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/fadecollapsible.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/innslag.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/liste.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/menu.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/prototype.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/scroll.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/share.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/showMore.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/toggle.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/page/filterButtons.js" ></script>
		
		<script src="//assets.{{ UKM_HOSTNAME }}/js/ukmdesign/emitter.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/ukmdesign/filter.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/ukmdesign/geolocation.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/ukmdesign/konkurranse.js" ></script>
	
		<script src="//assets.{{ UKM_HOSTNAME }}/js/vendor/autoshrink.jquery.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/vendor/cookie.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/vendor/fastlivefilter.jquery.js" ></script>
		<script src="//assets.{{ UKM_HOSTNAME }}/js/vendor/imagesGrid.jquery.js" ></script>
		
		<script src="//assets.{{ UKM_HOSTNAME }}/vendor/swipebox/js/jquery.swipebox.js"></script>
		
		<script src="//{{ UKM_HOSTNAME }}/wp-content/plugins/UKMresources/js/twig.js"></script>

		{% if ajax_url is defined %}
		<script type="text/javascript">var ajaxurl = '{{ ajax_url }}';</script>
		{% endif %}
		{% block javascripts %}{% endblock %}
	

		<script>
			var UKM_HOSTNAME = '{{ UKM_HOSTNAME }}';
            var blog_url = '{{ UKMDesign.getSiteUrl() }}/';
			
			window.fbAsyncInit = function() {
				FB.init({
				appId            : '{{ UKMDesign.getHeader().getSeo().getFBAppId() }}',
				autoLogAppEvents : true,
				xfbml            : true,
				version          : 'v10.0'
				});
			};
		</script>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/nb_NO/sdk.js"></script>
	</head>
	
	<body>
		<div id="fb-root"></div>{# FACEBOOK #}
        {% block framework_content %}{% endblock %}
	</body>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46216680-1"></script>

	<script type="tex">
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-46216680-1');
	</script>
</html>
