<a class="dropdown-item drop-item" href="{{ link|raw }}" id="subpage-{{ id }}">
    <span class="dot dot-grey-large">
        <span class="dot svg-dot svg-dot-large">
            {{ svg|raw }}
        </span>
    </span>
    <span class="nav-title">{{ title }}</span>
    {{ chevron|raw }}
</a>